#no1{
   position: absolute;
   margin: 15% 30%;
}
#no2{
   position: absolute;
   margin: 30% 20%;
}
#no3{
   position: absolute;
   margin: 0% 70%;
}
#no4{
   position: absolute;
   margin: 21% 34%;
}
#no5{
   position: absolute;
   margin: 9% 80%;
}
#no6{
   position: absolute;
   margin: 12% 12%;
}

